.card {
  margin-right: 17px;
  margin-bottom: 17px;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 19px;
  height: 328px;
  width: 328px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.card__title-container {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}

.card__title {
  background-color: white;
  border-radius: 4px;
  gap: 8px;
  padding: 2px 12px;
  margin: 0;
}

.card__like {
  width: 18px;
  height: 16px;
  background-image: url("../../images/heart.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  margin-left: 6px;
}
