.weather {
  padding: 0;
  position: relative;
}

.weather__image {
  max-width: 100%;
}

.weather__temp {
  position: absolute;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  top: 20px;
  left: 16px;
  color: white;
}
