.weather {
  padding: 0;
  position: relative;
}

.weather__image {
  max-width: 100%;
}

.weather__temp {
  position: absolute;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  top: 50%;
  left: 56px;
  transform: translate(-50%, -50%);
  color: white;
}
