.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 40px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
}
