.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  font-size: 20px;
}

.header__group {
  display: flex;
  align-items: center;
}

.header__add-btn {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  background-color: transparent;
  border: none;
  padding-right: 20px;
  cursor: pointer;
}

.header__add-btn:hover {
  color: #028bff;
}

.header__date {
  padding-left: 24px;
}

.header__avatar {
  padding-left: 12px;
}
