.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  padding: 0 40px;
  font-family: "Cabinet Grotesk";
  line-height: 1.2;
  font-weight: 700;
  font-size: 20px;
}

.header__group {
  display: flex;
  align-items: center;
}

.header__add-btn {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  background-color: transparent;
  border: none;
  padding-right: 20px;
}

.header__date {
  padding-left: 24px;
}

.header__avatar {
  padding-left: 12px;
}
